<% content_for :title do %>About<% end %>
<h3>About Slartibartfarst</h3>
<p>Slartibartfast is a Magrathean, and a designer of planets. His favourite part of the job is creating coastlines, the most notable of which are the fjords found on the coast of Norway on planet Earth, for which he won an award.</p>